NODE_ENV=dev
PORT=3030
DATABASE_URL=mongodb://localhost:27017
DATABASE_NAME=mercashop
FIREBASE_PROJECT_ID=
GCS_BUCKET_NAME=
OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_APPLE_CLIENT_ID=
OAUTH_APPLE_CLIENT_SECRET=
OAUTH_FACEBOOK_CLIENT_ID=
OAUTH_FACEBOOK_CLIENT_SECRET=
MOLLIE_KEY=
MAIL=
MAIL_PASSWORD=
MAIL_SERVER=smtp-mail.outlook.com
CORS_ORIGINS=http://localhost:5173,http://localhost:3000
